{% extends 'base.html' %}
{% block title %}Update - {% endblock title %}

{% block body %}
  
<h1 class="d-flex justify-content-center">Some interesting TODO's Task</h1>
<!-- <ul class="d-grid justify-content-center">
    <li> Playing chess </li>
    <li> Cleaning out your closets</li>
    <li> Finding a new podcast </li>
    <li> Starting a list on a streaming service.</li>
    <li> Going for a walk.</li>
    <li> Taking a bath.</li>
    <li> Phoning a friend.</li>
    <li> Doing some yoga.</li>

 
</ul> -->

<ul class="list-group list-group-flush  ">
    <li class="list-group-item  list-group-item-action list-group-item-primary">Playing chess. </li>
    <li class="list-group-item list-group-item-action list-group-item-secondary"> Cleaning out your closets. </li>
    <li class="list-group-item list-group-item-action list-group-item-success">Finding a new podcast.</li>
    <li class="list-group-item  list-group-item-action list-group-item-danger">Starting a list on a streaming service.</li>
    <li class="list-group-item list-group-item-action list-group-item-light">Going for a walk.</li>
    <li class="list-group-item list-group-item-action list-group-item-warning">Phoning a friend.</li>
  </ul>





{% endblock body %}